<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="icon" href="/public/favicon.ico" sizes="70x70" type="image/ico">
    <link rel="stylesheet" type="text/css" href="/public/css/index.css" />
    <script defer src="/public/js/mywebsite.js"></script>
    <link rel="stylesheet" href="/public/css/fonts.css" />
    {{#if css}}
        <link rel="stylesheet" href="/public/css/{{css}}">
    {{/if}}
</head>
<body>
    {{> header}}
    {{> nav}}
    {{{body}}}
    {{> footer}}
    {{#if js}}
        <script defer src="/public/js/{{js}}"></script>
    {{/if}}
</body>
</html>
