<main>
    <h2>Login here to share content</h2>
    <form action="" id="login-form">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>

        <button id="submit" type="submit">Login</button>
        <button type="reset">Clear</button>
    </form>
</main>