body * {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main-content {

}

a {
  color: #00B7FF;
  text-decoration: none; /* last semi-colon is optional - less data sent */
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  flex-direction: row;
  transform: translate(100%);
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 0px; /* remove padding */
  gap: 8px;
}

nav li {
  background-color: rgb(60, 30, 59);
  border-radius: .35em;
  padding: 1px;
}

container {
  display: flex;
}

.left-sidebar {
  background-color: turquoise;
}

.right-sidebar {
  background-color: rgb(160, 114, 106);
}

.page-header {
  background-color: chocolate;
}

.page-footer {
  background-color: brown;
}

@media screen and (min-width: 500px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .nav {
    flex-direction: row;
    justify-content: space-around;
  }
  .page-header {
    flex: 1 100%
  }
  .main-content {
    flex: 1 100%
  }
  .left-sidebar {
    flex: 1 50%
  }
  .right-sidebar {
    flex: 1 50%
  }
  .page-footer {
    flex: 1 50%
  }
}

@media screen and (min-width: 1100px) { /* if there's a media screen at least this big. Used to mobile-optimize */
  .main-content {
    flex: 1 50%;
    order: 2;
  }
  .left-sidebar {
    flex: 1 50%;
    order: 1;
  }
  .right-sidebar {
    flex: 1 50%;
    order: 3
  }
  .page-footer {
    order: 4
  }
}

.d1 { /* class selector */
  background-color: red;
}

p::first-line { /* pseudo element */
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
}

p {
  animation: slider 1s 1s ease-in;
}
@keyframes slider {
  10% {

  }
  20% {

  }
  40% {

  }
  100% {

  }
  40% {

  }
  20% {

  }
  10% {

  }
}