body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none; /* last semi-colon is optional - less data sent */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 12px;
  place-content: space-around;
}

@media screen and (min-width: 500px) { /* if there's a media screen at least this big. Used to mobile-optimize */
  body {
    background-color: pink;
  }
}

.d1 { /* class selector */
  background-color: red;
}

p::first-line { /* pseudo element */
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
}

p {
  animation: slider 1s 1s ease-in;
}
@keyframes slider {
  10% {

  }
  20% {

  }
  40% {

  }
  100% {

  }
  40% {

  }
  20% {

  }
  10% {

  }
}